[Unit]
Description=FChatSharp - Production - Bot
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/screen -mdS production.fchatbot /bin/bash -c 'env ASPNETCORE_ENVIRONMENT=Production /usr/bin/dotnet /var/www/vc/production/fchatbot/FChatSharp.dll --configuration Release'
ExecStop=/usr/bin/screen -S production.fchatbot -X quit
User=cityseventeen
WorkingDirectory=/var/www/vc/production/fchatbot
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min
Restart=always
RestartSec=120

[Install]
WantedBy=multi-user.target
